@import 'variables';

/* Manage Responsive Breakpoints */
@mixin respond-min($breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

@mixin respond-max($breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

/* Manage self-host fonts*/
@mixin font($font-family, $font-file, $font-weight) {
    @font-face {
        font-family: $font-family;
        font-weight: $font-weight;
        font-style: normal;        
        src: url(map-get($fonts, $font-file) + '.woff') format('woff'),
            url(map-get($fonts, $font-file) + '.woff2') format('woff2');
    }
}