@use '../utilities/' as *;

h1, h2, h3, h4 {
    margin-top: 0;
    line-height: 1.1;
}

h1 {
    font-family: var(--font-outfit);    
    font-size: rem(24);
    font-weight: 700;
    margin-bottom: rem(16);
    @include respond-min(xlarge) {
        font-size: rem(28);
    }
}

.inter {
    font-family: var(--font-inter);
    font-weight: 400;
}

a, a:visited, a:active {
    text-decoration: none;
}